<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Requests</title>
    <link rel="stylesheet" href="/public/assets/request.css">
</head>
<body>

     <!-- This is  start of the navbar -->
     <div class="topnav">
      <a id="title" href="/">VIT Pro Bud</a>
      <a class="alig" href="/projects">Explore</a>
      <a class="alig" href="/about">About</a>
      <a class="alig" href="/contact">Contact</a>
      <a class="alig" href="/gallery">Gallery</a>
      <%  if(!user){%>
      <a class="alig" href="/register">Register</a>
      <a class="alig" href="/login">Login</a>
      <%  }else{ %>
          <a class="alig" href="/logout">Logout</a>
   
      <a href="/userprofile"><img src="/<%= user.img.path %>" alt=""></a>
      <%  } %>
  </div>
    <!-- navbar end -->
    

      <!-- List of people requested to your project -->
      <section>
        <div class="header">
          
          <div class="element1 abc">
            <p>Project Title</p>
    
          </div>
          <div class="element2 abc">
            <p class="created">Requested By</p>
    
          </div>
          <div class="element3 abc">
            <p>Action</p>
    
          </div>
    
          
      </div>
    
      
            <!-- request -->
            <%applications.forEach(function(application){%>
          <div class="header">
            
            <div class="element1 abc element">
              <p><%=application.title%></p>
      
            </div>
            <div class="element2 abc element">
              <a href="/userprofile/<%=application.userId%>" style="text-decoration: none;color:white"> <p class="created"><%=application.name%></p></a>
             
      
            </div>
            <div class="element3 abc action">
                <table>
                    <tr>
               
              <form action="/showgotrequest/<%=application.id%>/<%=application.userId%>/accept" method="post">             
              <button class="btn" type="submit">
                Accept
              </button>
           </form>
            

              
              <form action="showgotrequest/<%=application.id%>/<%=application.userId%>/reject" method="post">
             
              <button class="btn fun" type="submit">
                Reject
              </button>
             </tr>
            </table>
             </form>
            </div>
        </div>
           <!-- request -->
           <%})%>
         
          
        
      </section>

    <!-- List ended -->


    <!-- footer start -->
        <div class="footer">
            <p>Copyright &#169; 2021 Kartik Khanna</p>
        </div>
      <!-- footer ended -->
     
</body>
</html>