<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/assets/profile.css">
</head>
<body>

    <!-- This is  start of the navbar -->
    <div class="topnav">
        <a id="title" href="/">VIT Pro Bud</a>
        <a class="alig" href="/projects">Explore</a>
        <a class="alig" href="/about">About</a>
        <a class="alig" href="/contact">Contact</a>
        <a class="alig" href="/gallery">Gallery</a>
        <%  if(!user){%>
        <a class="alig" href="/register">Register</a>
        <a class="alig" href="/login">Login</a>
        <%  }else{ %>
            <a class="alig" href="/logout">Logout</a>
     
        <a href="/userprofile"><img src="/<%= user.img.path %>" alt=""></a>
        <%  } %>
    </div>
      <!-- navbar end -->


   <!-- profile section start -->
    <div class="container">
        <div class="profile">
            <img src="/<%=user.img.path%>" alt="">
        </div>
        <div class="userdata">
            <ul>
            <li class="name"><%=user.email%></li>
            <li>About me:<%=user.about%></li>
            <li>Vit Email: <%=user.username%></li>
            <li>Institute:  <%=user.institute%></li>
            <li>Favourite Programming Languages:  <%=user.language%></li>
            <li> <a href="<%=user.github%>" target="_blank"> <%=user.github%></a></li>
            <li> <a href="<%=user.linkedIn%>" target="_blank"><%=user.linkedIn%></a></li>
        </ul>
        </div>
    </div>

  <!-- features section -->
    <div class="container2">
        <a href="/editprofile"><div class="box"><strong>EDIT PROFILE</strong></div></a>
        <a href="/showgotrequest"><div class="box"><strong>PROJECT REQUESTS</strong></div></a>
        <a href="/request"><div class="box"><strong>YOUR APPLICATIONS</strong></div></a>
        <a href="/userprofile/editproject"><div class="box"><strong>EDIT PROJECT</strong></div></a>
    </div>
    <!-- featured section ended -->


    <!-- footer start -->
      <div class="footer">
        <p>Copyright &#169; 2021 Kartik Khanna</p>
    </div>
    <!-- footer ended -->
 
</body>
</html>